# Declare files that will always have LF line endings on checkout.
*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.sh text eol=lf
*.json text eol=lf
*.md text eol=lf
*.gitattributes text eol=lf
*.gitignore text eol=lf
*.php text eol=lf
*.env text eol=lf
