sudo: required

language: php

php:
  - "7.2"
  - "7.1"
  - "7.0"
  - "5.6"

env:
  - APPLICATION_ENV=dev

addons:
  hosts:
    - mysql-container

services:
  - docker

before_install:
  - sudo service mysql stop || echo "mysql not stopped"

install:
  - sed -ie "s/7\.2/${TRAVIS_PHP_VERSION:0:3}/" docker/Dockerfile
  - npm i
  - node_modules/.bin/usdocker --refresh . -v mysql up --home /tmp --no-link
  - composer install
  - composer restdocs
  - composer migrate -- reset --yes
  - composer build
  - docker ps -a
  - sleep 15

script:
  - vendor/bin/phpunit
