services:
  rest:
    image: resttest:dev
    container_name: resttest
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        - USER_ID=${USER_ID:-1000}
        - GROUP_ID=${GROUP_ID:-1000}
    ports:
      - "8080:80"
    volumes:
      - .:/srv/
    environment:
      - APP_ENV=dev
      - PHP_FPM_SERVER=0.0.0.0:9000
      - VERBOSE=true
    networks:
      - net

  mysql-container:
    image: mysql:8.0
    container_name: mysql-container
    environment:
      MYSQL_ROOT_PASSWORD: mysqlp455w0rd
      TZ: UTC
    volumes:
      - mysql-volume:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - net

volumes:
  mysql-volume:

networks:
  net:

